<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fake News📰 Detection System</title>

</head>

<body>
 <div id="login" class="container" >
    {% include "header.html" %}
 <div class="row">
	<div class="col-sm-6">
     <h1>Text Sentiment</h1>

    <form action="{{ url_for('sentiment')}}" method="POST">
    	<textarea  name="message" rows="6" cols="50" required="required" style="font-size: 18pt"></textarea>
		<br> </br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Analyze</button>

        	<div class="results">

    {% if sentiment == -1 %}
	<h2 style="color:red;">Text is Negative in nature </h2>
	{% elif sentiment == 1 %}
				<h2 style="color:#008006;"><b>Text is Positive in nature</b></h2>
    {% elif sentiment == 0 %}
				<h2 style="color:#6f6868;"><b>Text is Neutral in nature</b></h2>
	{% endif %}


	</div>

    </form>
    </div>
 <div class="col-sm-6">
     <h1>Newspaper Sentiment</h1>
     <form action="{{ url_for('webscrape')}}" method="POST">
    	<label class="radio-inline"style="font-size: 20px;color: white;margin: 10px;">
            <input type="radio" name="optradio" checked value="one">The Hindu
        </label>
        <label class="radio-inline" style="font-size: 20px;color: white;">
            <input type="radio" name="optradio" value="two">The Star Vancouver
        </label>

         <br> </br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Analyze</button>

        	<div class="results">


	</div>

    </form>
    {% for dict in websenti %}
        {% for key,value in dict.items() %}
            {%  if value =='Neutral' %}
                <h6 style="color:#fffefe;display: inline;">{{ key }}:</h6><h6 style="color:#857575;" > {{ value }} </h6>
            {% elif value == 'Positive' %}
                <h6 style="color:#fffefe;display: inline;">{{ key }}: </h6><h6 style="color:#02ff0e;"> {{ value }} </h6>
            {% else %}
                <h6 style="color:#ffffff;display: inline;">{{ key }}:</h6><h6 style="color:#ff0000;">  {{ value }} </h6>
            {% endif %}
        {% endfor %}
	{% endfor %}

 </div>
</div>
</div>